body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff2e5;
    color: #333;
}


/* HEADER */
header {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    font-size: 2.46vw;
    text-shadow: 4px 4px 4px #000000dc; 
    max-height: 21vw;
    overflow:  hidden;  
    line-height: 0.4;
    background-color: #18203c; /* Color de fondo */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header img {
    margin-right: 30px;
    width: 24vw;
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%);
    mask-image: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%);
}
  
  header .text {
    text-align: left;
  }
  


/* Estilos del formulario */
#aniadir{
    margin: 20px auto;
    padding: 20px;
    margin: 40px 70px 50px 70px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}



/* Contenedor para la tabla con desplazamiento automático */
.table-container {
    width: 100%;
    overflow-x: auto;
}

/* Estilos de la tabla */
table {
    margin: 20px 50px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
}

table thead {
    background-color: #2d3c70;
    color: white;
    text-shadow: 1px 1px 2px #000000dc;
    border-radius: 10px;

}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    font-size: 1.1em;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

.hidden {
    display: none;
}

/* FOOTER */
footer {
    display: block;
    background-color: #fd9d42; /* Color de fondo */
    color: rgb(0, 0, 0);
    padding: 10px ; /* Espacio superior */
    text-align: center;
  }
  
  .contact-info p {
    margin: 5px 0; /* Margen superior */
  }
  
  .contact-info strong {
    font-weight: bold; /* Destacar en negrita */
  }


  /* Respuesta en móvil */
@media (max-width: 708px) {
    body {
        font-size: 2.5vw;
    }

    table {
        margin: 13px;
    }

    #aniadir{
        padding: 15px;
        margin: 4vw 7vw 5vw 7vw;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    table th, table td {
        padding: 5px;
        font-size: 2.2vw;
    }
}
